<% layout("layout/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
                <h3>Edit Listing</h3>
                <div class="mb-3">
                    <label for="title" class="form-title">Title</label>
                    <input id="title" class="form-control" name="listing[title]" value="<%= listing.title %>" type="text">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-title">Description</label>
                    <textarea id="description" class="form-control" name="listing[description]"><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-title">Image URL</label>
                    <input id="image" class="form-control" name="listing[image]" value="<%= listing.image %>" type="text">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-title">Price</label>
                        <input id="price" class="form-control" name="listing[price]" value="<%= listing.price %>" type="number">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-title">Country</label>
                        <input id="country" class="form-control" name="listing[country]" value="<%= listing.country %>" type="text">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-title">Location</label>
                    <input id="location" class="form-control" name="listing[location]" value="<%= listing.location %>" type="text">
                </div>
                <br><br>
                <button class="btn btn-dark">Edit</button>
            </form>
        </div>
    </div>
</body>
</html>